@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');

body, h1, h2, p, .title {
  font-family: Fira Sans !important;
  font-weight: 400 !important;
  }

nav {
	display: none !important;
}
body #bighead .first-line .logo img {
    border-radius: 50%;
}