[defaults]
INVENTORY = hosts
vault_password_file = pass.sh
ansible_python_interpreter=/usr/bin/python3
timeout=30
gathering = smart
fact_caching = jsonfile
fact_caching_connection = .fact_cache
fact_caching_timeout = 43200
hash_behaviour = merge
forks = 32

[ssh_connection]
pipelining = True
