---
title: {{ homer_title }}
subtitle: {{ homer_subtitle }}
logo: "/assets/tools/homer-icons/logo.jpg"

stylesheet:
  - "assets/custom.css"

header: true
footer: false
columns: 4
connectivityCheck: true

theme: default
colors:
  light:
    highlight-primary: "{{ colors.color0 }}"
    highlight-secondary: "{{ colors.color0 }}"
    highlight-hover: "{{ colors.color0 }}"
    background: "{{ colors.background }}"
    card-background: "{{ colors.color0 }}"
    text: "{{ colors.color4 }}"
    text-header: "{{ colors.color4 }}"
    text-title: "{{ colors.foreground }}"
    text-subtitle: "{{ colors.color15 }}"
    status-offline: "{{ colors.color9 }}"
    status-online: "{{ colors.color10 }}"

  dark:
    highlight-primary: "{{ colors.color0 }}"
    highlight-secondary: "{{ colors.color0 }}"
    highlight-hover: "{{ colors.color0 }}"
    background: "{{ colors.background }}"
    card-background: "{{ colors.color0 }}"
    text: "{{ colors.color4 }}"
    text-header: "{{ colors.color4 }}"
    text-title: "{{ colors.foreground }}"
    text-subtitle: "{{ colors.color15 }}"
    status-offline: "{{ colors.color9 }}"
    status-online: "{{ colors.color10 }}"

services:
  - name: "Media"
    icon: "fas fa-photo-video"
    items:
  {% for item in web_applications if "media" in item.category and item.url != "" %}
    - name: "{{ item.name }}"
        logo: "{{ item.logo }}"
        url: "{{ item.url }}"
        target: "_blank"
  {% endfor %}

  - name: "Services"
    icon: "fas fa-stream"
    items:
  {% for item in web_applications if "services" in item.category and item.url != "" %}
    - name: "{{ item.name }}"
        logo: "{{ item.logo }}"
        url: "{{ item.url }}"
        target: "_blank"
  {% endfor %}

  - name: "System"
    icon: "fas fa-cog"
    items:
  {% for item in web_applications if "system" in item.category and item.url != "" %}
    - name: "{{ item.name }}"
        logo: "{{ item.logo }}"
        url: "{{ item.url }}"
        target: "_blank"
  {% endfor %}

  - name: "Home Automation"
    icon: "fas fa-home"
    items:
  {% for item in web_applications if "smarthome" in item.category and item.url != "" %}
    - name: "{{ item.name }}"
        logo: "{{ item.logo }}"
        url: "{{ item.url }}"
        target: "_blank"
  {% endfor %}


