---
title: {{ homer_title }}
subtitle: {{ homer_subtitle }}
logo: "/assets/tools/homer-icons/logo.jpg"

stylesheet:
  - "assets/custom.css"

header: true
footer: false
columns: 4
connectivityCheck: true

theme: default
colors:
  light:
    highlight-primary: "{{ colors.color0 }}"
    highlight-secondary: "{{ colors.color0 }}"
    highlight-hover: "{{ colors.color0 }}"
    background: "{{ colors.background }}"
    card-background: "{{ colors.color0 }}"
    text: "{{ colors.color4 }}"
    text-header: "{{ colors.color4 }}"
    text-title: "{{ colors.foreground }}"
    text-subtitle: "{{ colors.color15 }}"
    status-offline: "{{ colors.color9 }}"
    status-online: "{{ colors.color10 }}"

  dark:
    highlight-primary: "{{ colors.color0 }}"
    highlight-secondary: "{{ colors.color0 }}"
    highlight-hover: "{{ colors.color0 }}"
    background: "{{ colors.background }}"
    card-background: "{{ colors.color0 }}"
    text: "{{ colors.color4 }}"
    text-header: "{{ colors.color4 }}"
    text-title: "{{ colors.foreground }}"
    text-subtitle: "{{ colors.color15 }}"
    status-offline: "{{ colors.color9 }}"
    status-online: "{{ colors.color10 }}"

services:
  - name: "Media"
    icon: "fas fa-photo-video"
    items:
  {% for item in homer_urls if "media" in item.category and item.url != "" %}
    - name: "{{ item.name }}"
        type: Ping
        logo: "{{ item.logo }}"
        url: "{{ item.url }}"
        endpoint: "{{ item.endpoint }}"
        target: "_blank"

  {% endfor %}

  - name: "Services"
    icon: "fas fa-stream"
    items:
  {% for item in homer_urls if "services" in item.category and item.url != "" %}
    - name: "{{ item.name }}"
        type: Ping
        logo: "{{ item.logo }}"
        url: "{{ item.url }}"
        endpoint: "{{ item.endpoint }}"
        target: "_blank"

  {% endfor %}

  - name: "System"
    icon: "fas fa-cog"
    items:
  {% for item in homer_urls if "system" in item.category and item.url != "" %}
    - name: "{{ item.name }}"
        type: Ping
        logo: "{{ item.logo }}"
        url: "{{ item.url }}"
        endpoint: "{{ item.endpoint }}"
        target: "_blank"
  {% endfor %}
    - name: "FRITZ!Box"
        type: Ping
        logo: /assets/tools/homer-icons/fritzbox.png
        url: "http://fritz.box/"
        endpoint: "http://{{ ansible_default_ipv4.address }}:3000/http://fritz.box/"
        target: "_blank"
      - name: "PiKVM"
        type: Ping
        logo: /assets/tools/homer-icons/pikvm.png
        url: "http://pikvm.box/"
        endpoint: "http://{{ ansible_default_ipv4.address }}:3000/http://pikvm.box"
        target: "_blank"
      - name: "PiHole"
        type: Ping
        logo: /assets/tools/homer-icons/pihole.png
        url: "http://pihole.box:81"
        endpoint: "http://{{ ansible_default_ipv4.address }}:3000/http://pihole.box:81"
        target: "_blank"



  - name: "Home Automation"
    icon: "fas fa-home"
    items:
  {% for item in homer_urls if "smarthome" in item.category and item.url != "" %}
    - name: "{{ item.name }}"
        type: Ping
        logo: "{{ item.logo }}"
        url: "{{ item.url }}"
        endpoint: "{{ item.endpoint }}"
        target: "_blank"

  {% endfor %}


