---
- name: Create a SWAG network, add all the containers to be reverse-proxied into it
  docker_network:
    name: swag_network

- name: Make sure the SWAG container is created and running
  docker_container:
    name: "{{ container_name }}"
    image: "ghcr.io/linuxserver/swag"
    pull: yes
    network_mode: swag_network
    capabilities: 
      - net_admin
    state: 'started'
    env:
      "PUID": "{{ guid }}"
      "PGID": "{{ guid }}"
      "TZ": "{{ timezone }}"
      "URL": "{{ host }}"
      "SUBDOMAINS": "nextcloud, bitwarden"
      "SUBDOMAINS_ONLY": "true"
      "DUCKDNSTOKEN": "{{ duckdns_token }}"
      "VALIDATION": "http"
      "CERTPROVIDER": "zerossl"
      "EMAIL": "{{ email }}"
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "{{ docker_dir }}/{{ container_name }}/config:/config"
    restart_policy: unless-stopped