<?xml version="1.0" standalone='no'?><!--*-nxml-*-->
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">

<service-group>
  <name replace-wildcards="yes">emily (Samba)</name>
  <service>
    <type>_smb._tcp</type>
    <host-name>emily.local</host-name>
    <port>445</port>

  </service>
                <service>
                        <type>_device-info._tcp</type>
                        <port>0</port>
                        <txt-record>model=TimeCapsule</txt-record>
                </service>
</service-group>
