[DEFAULT]
nextcloud_log = {{ docker_dir }}/nextcloud/data/nextcloud.log
vaultwarden_log = {{ docker_dir }}/vaultwarden/vaultwarden.log
vaultwarden-admin_log = {{ docker_dir }}/vaultwarden/vaultwarden.log
