#cloud-config
autoinstall:
  version: 1
  locale: {{ locale }}
  keyboard:
    layout: {{ keyboard_layout }}
  identity:
    hostname: {{ hostname }}
    password: {{ password | password_hash('sha512') }}
    username: {{ username }}
  network:
    network:
      version: 2
      ethernets:
        enp1s0:
          critical: true
          dhcp-identifier: mac
          dhcp4: true
  ssh:
    install-server: true
    authorized-keys: [ {{ ssh_public_key }} ]
  storage:
    grub:
      reorder_uefi: False
    swap:
      size: 0
    config:
    - {ptable: gpt, serial: {{ boot_drive_serial }}, preserve: false, name: '', grub_device: false, type: disk, id: bootdrive}

    - {device: bootdrive, size: 536870912, wipe: superblock, flag: boot, number: 1, preserve: false, grub_device: true, type: partition, id: efipart}
    - {fstype: fat32, volume: efipart, preserve: false, type: format, id: efi}

    - {device: bootdrive, size: -1, wipe: superblock, flag: linux, number: 2, preserve: false, grub_device: false, type: partition, id: rootpart}
    - {fstype: ext4, volume: rootpart, preserve: false, type: format, id: root}

    - {device: root, path: /, type: mount, id: rootmount}
    - {device: efi, path: /boot/efi, type: mount, id: efimount}