server {
    {% include "nginx/internal.j2" %}
    {% include "nginx/params.j2" %}
    server_name {{ swag_urls['booksonic'] }};


    include /config/nginx/authelia-server.conf;
    location / {
        {% include "nginx/cors.j2" %}
        include /config/nginx/proxy.conf;
        include /config/nginx/resolver.conf;
        set $upstream_app booksonic;
        set $upstream_port 4040;
        set $upstream_proto http;
        proxy_pass $upstream_proto://$upstream_app:$upstream_port;

    }
}
