server {
    {% include "nginx/internal.j2" %}
    {% include "nginx/params.j2" %}
    server_name {{ swag_urls['jackett'] }};

    location / {
        {% include "nginx/cors.j2" %}
        add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS, HEAD';
        include /config/nginx/proxy.conf;
        include /config/nginx/resolver.conf;
        set $upstream_app jackett;
        set $upstream_port 9117;
        set $upstream_proto http;
        proxy_pass $upstream_proto://$upstream_app:$upstream_port;

    }

    location ~ (/jackett)?/api {
        include /config/nginx/proxy.conf;
        include /config/nginx/resolver.conf;
        set $upstream_app jackett;
        set $upstream_port 9117;
        set $upstream_proto http;
        proxy_pass $upstream_proto://$upstream_app:$upstream_port;

    }

    location ~ (/jackett)?/dl {
        include /config/nginx/proxy.conf;
        include /config/nginx/resolver.conf;
        set $upstream_app jackett;
        set $upstream_port 9117;
        set $upstream_proto http;
        proxy_pass $upstream_proto://$upstream_app:$upstream_port;

    }
}
