# {{ ansible_managed }}
#
# SnapRAID configuration file

# Parity location(s)
{% for disk in parity_disks %}
{{ loop.index}}-parity {{ disk.name }}/snapraid.parity
{% endfor %}

# Content file location(s)
{% for content_file in snapraid_content_files %}
content {{ content_file }}
{% endfor %}
{% for disk in parity_disks %}
{% if disk.content == true %}
content {{ disk.name }}/snapraid.content
{% endif %}
{% endfor %}
{% for disk in disks %}
{% if disk.content == true %}
content {{ disk.name }}/.snapraid.content
{% endif %}
{% endfor %}

# Data disks
{% for disk in disks %}
data d{{ loop.index }} {{ disk.name }}{{ disk.data_path | default('') }}
{% endfor %}

# Excludes hidden files and directories (uncomment to enable).
{% if snapraid_config_hidden_files_enabled %}
{{ snapraid_config_hidden_files }}
{% endif %}

{% for item in snapraid_config_excludes %}
exclude {{ item }}
{% endfor %}
