@font-face {
    font-family: 'SFProDisplay';
    src: local(''),
        url('./static/media/SFProDisplay-Medium.woff2') format('woff2'),
        url('./static/media/SFProDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: local(''),
        url('./static/media/SFProDisplay-Regular.woff2') format('woff2'),
        url('./static/media/SFProDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: local(''),
        url('./static/media/SFProDisplay-Bold.woff2') format('woff2'),
        url('./static/media/SFProDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: local(''),
        url('./static/media/SFProDisplay-RegularItalic.woff2') format('woff2'),
        url('./static/media/SFProDisplay-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: local(''),
        url('./static/media/SFProDisplay-Semibold.woff2') format('woff2'),
        url('./static/media/SFProDisplay-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}



* {
text-transform: unset !important;
}
body {
--color-background: "{{ colors.background }}" !important;
--color-primary: "{{ colors.foreground }}" !important;
--color-accent: "{{ colors.color12 }}" !important;
font-family: 'SFProDisplay' !important;
}
.AppCard_AppCard__1V2_0 {
padding: 10px !important;
}
.NotificationCenter_NotificationCenter__2YqQV {
display: none;
}
.AppGrid_AppGrid__33iLW {
margin-left: -10px !important;
}

@media (min-width: 1201px) {
    .Layout_Container__2Hv3J {
        padding: 50px 20px !important;
    }
}

body
{
    zoom: 120%;
}

#root {
display: flex;
align-items: center;
justify-items: center;
height: 100vh;
}

.Home_SettingsButton__Qvn8C {
opacity: 0 !important;
}
.Home_SettingsButton__Qvn8C:hover {
opacity: 10 !important
}
