[Unit]
Description=S.M.A.R.T. monitoring
After=suspend.target
After=hibernate.target
After=hybrid-sleep.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c "/usr/local/bin/smartmon.py | sponge /etc/node_exporter/smartmon.prom"

[Install]
WantedBy=multi-user.target
WantedBy=suspend.target
WantedBy=hibernate.target
WantedBy=hybrid-sleep.target
