[Unit]
Description=Node Exporter S.M.A.R.T. monitoring

[Timer]
Unit=smartmon.service
OnBootSec=30
OnUnitActiveSec=30

[Install]
WantedBy=multi-user.target
