# vim: set ft=yaml:
global:
    scrape_interval: 5s
    scrape_timeout: 5s

scrape_configs:
    - job_name: services
      metrics_path: /metrics
      static_configs:
          - targets:
                - 'localhost:9090'
                - '{{ lan_base }}.228:9100'
                - '{{ lan_base }}.228:9115'
                - '{{ lan_base }}.230:9100'
                - '{{ lan_base }}.230:9256'
                - '{{ lan_base }}.229:9100'
                - '{{ lan_base }}.229:9256'

    - job_name: 'hass'
      metrics_path: /api/prometheus
      authorization:
          credentials: '{{ hass_prometheus_token }}'
      scheme: https
      static_configs:
          - targets:
                - 'homeassistant.goose.party'
